nav{
    display: flex;
    /* z-index: 1; */
    position: relative;
    flex-direction: row;
    align-items: center;
    color: #fff;

    
    background-color: transparent;
    box-shadow: inset 5px 50px 30px #000000;
    /* padding: 0 1%; */
}
.nav-black{
    background-color: #111;
    
}
.backadjst{
    background: fixed;
}
ul{
    width: 40%;
    justify-content: flex-start;
    display: flex;
    /* flex-direction: row; */
}
li{
    
    list-style: none;
    margin: 15px;
}
.navlinks{
    text-decoration: none;
    color: white;
    /* background-color: transparent; */
}

.navbar-logo{
    max-height: 90px;
    width: auto;
    justify-content: center;
    align-items: center;
}
.container-right{
    display: flex;
    /* background-color: aqua; */
    width: 60%;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5%;
}
.icons{
    background-color: transparent;
    
    margin: 2px;
    color: white;
    margin-left: 30px;
}
.serach-bar{
    display: flex;
    background-color: transparent;
    
    align-items: center;
    justify-content: center;
    height: 30px;
    border:2px solid gray ;
    color: white;
}