*{
  background-color: #111;  
  margin: 0;
}
*::-webkit-scrollbar{
  display: none;
}
h1,h2,h3,h4,h5,h6,p,span,strong,sub,sup{
  color: white;
}
.App {
  text-align: center;
}


.row_posters{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 15px;
}
.row_posters::-webkit-scrollbar{
  display: none;
}
.row_poster{
  object-fit: contain;
  max-height: 150px;

  /* THEY ADDED WAS 100PX */
  width: 100%;
  margin-right: 20px;
  transition: transform 450ms;
}
.row_posterLarge{
  max-height: 300px;
}
.row_posterLarge:hover{
  transform: scale(1.12);
}
.row_poster:hover{
  transform: scale(1.10);
  opacity: 1;
}